.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Post {
  max-width: 200px;
  margin: 0;
  padding: 0;
  border: 2px solid slategray;
  border-radius: 12px;
}

.PostContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
